* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

body {
  background-image: url("./uploads/bakgrundsbild2.jpg");
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: black;
}

button {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
#checkPassword {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 70%;
  text-align: center;
  max-width: 200px;
}
#passwordInput {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 56%;
  text-align: center;
}
h1,
h3 {
  color: #ffffff;

  margin: 0 auto;
  margin-top: 10px;
}

h1 {
  text-align: center;
  vertical-align: text-top;
  font-size: 28px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  margin-top: 30px;
}
#h2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  width: 200px;
}

#ai_content_p,
#user_content_p {
  color: white;
  margin: 0 auto;
}

#user_content_p {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
#image {
  max-width: 100%;
  height: auto;
}
.captcha {
  position: absolute;
  top: 400px;
  left: 30px;
}
#ai_content_p {
  --b: 2px;
  --c: #9ed644;
  --w: 20px;

  border: var(--b) solid #0000;
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);

  padding: 10px;
  width: 250px;
  text-align: left;

  /* top: 65%; */

  margin-left: auto;
  margin-right: auto;
}

#content_img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#content_div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}
#registerPassword {
  margin-bottom: 50px;
}
#loginPassword {
  margin-bottom: 50px;
}

#loginShortCut {
  border: none;
  background-color: rgba(255, 222, 173, 0);
  text-decoration: underline;
}

#registrationMessage,
#loginMessage {
  color: white;
}

#scan_p {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.clue_button {
  margin-top: 30px;
}

.nextMessage {
  padding: 10px;

  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  color: white;

  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;

  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 230px;
}
#nextButton {
  width: 150px;
  position: absolute;
  right: 0;
  left: 5%;
  top: -170%;
  margin-left: auto;
  margin-right: auto;
}
.lines {
  width: 100px;
  border: 1px solid #9ed644;
  position: absolute;
}

#line_1 {
  top: 121px;
  left: 139px;
}
#line_2 {
  top: 680px;
  left: 139px;
}
#line_3 {
  transform: rotate(90deg);

  top: 200px;
  left: 300px;
}
#line_4 {
  transform: rotate(90deg);
  top: 500px;
  left: -45px;
}
#helloMessage {
  position: relative;
  top: -100px;
}

#dialogSelect {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
  font: 14px SF Pro Rounded, sans-serif;
}

#clueSelect {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
  font: 14px SF Pro Rounded, sans-serif;
}

#clueImage {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

#code_div {
  position: absolute;
  top: 1400px;
  left: 30px;
}

#code_div > * {
  color: black;
  font-size: 12.5px;
}
select {
  margin-top: 20px;
}

#helpButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  font-family: "Courier New", Courier, monospace;
  top: 62%;
  text-align: center;
}
#helpMe {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 65%;
  text-align: center;
  width: 150px;
  font: 14px SF Pro Rounded, sans-serif;
}
#yesOrNo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 74%;
  text-align: center;
  font: 14px SF Pro Rounded, sans-serif;
}
#yes {
  font: 14px SF Pro Rounded, sans-serif;
}
#no {
  font: 14px SF Pro Rounded, sans-serif;
}
#sure {
  font: 14px SF Pro Rounded, sans-serif;
}
#fake-captcha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Questrial";
  font-size: 4vw;
  line-height: 4.25vw;
  white-space: nowrap;
  cursor: pointer;
  color: #ffffff;
}

#fake-captcha:hover {
  color: #666;
}

#fake-checkbox {
  position: relative;
  float: left;
  margin-right: 1vw;
  width: 4vw;
  height: 4vw;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
  box-sizing: border-box;
}

#fake-checkbox:hover {
  border-color: #aaa;
  background: #eee;
}

#fake-captcha.loading {
  cursor: default;
  color: #444;
}

.loading #fake-checkbox {
  border-radius: 50%;
  background: transparent;
  border-color: #888;
  border-width: 12px;
  border-style: inset;
  animation: spin 1s infinite linear;
}

.pass #fake-checkbox {
  background: #c1d9a3;
  border-color: #669f56;
}

.pass #fake-checkbox:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "\2713";
  font-size: 6vw;
  color: #275f18;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fail {
  animation: fail 0.1s 4;
}

@keyframes fail {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-51%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-49%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

#audio {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

#video {
  height: auto;
  width: 80vw;
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

#goHome {
  position: absolute;
  bottom: 87%;
  left: 0vw;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  border: none;
  text-align: center;
}

#nextLayout {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
}

#upload_container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
}

#alt1 {
  top: 65%;
  border: 1px solid white;
  width: auto;
}
#alt2 {
  top: 80%;
  border: 1px solid white;
  width: auto;
}
#denied {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
}

#link_figma {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  color: skyblue;
}
#title {
  font-size: 25px;
}
#helloUser {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.div {
  background-color: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.div-2 {
  align-self: end;
  display: flex;
  width: 249px;
  max-width: 100%;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
}
.div-3 {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-4 {
  text-align: left;
  background: linear-gradient(90deg, #0084ad 0%, #cb98d4 23.5%, #f55252 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 181px;
  font: 700 25px SF Pro Rounded, sans-serif;
}
.div-5 {
  color: #8d8888;
  text-align: left;
  margin-top: 5px;
  font: 600 18px SF Pro Rounded, sans-serif;
}
.div-6 {
  display: flex;
  margin-top: 24px;
  gap: 19px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  
  
}
.div-7 {
  font-family: SF Pro Text, sans-serif;
  border-radius: 9px;
  background-color: #222;
  justify-content: center;
  padding: 19px 25px;
}
.div-8 {
  font-family: SF Pro Text, sans-serif;
  border-radius: 9px;
  background-color: #222;
  justify-content: center;
  padding: 13px 17px;
}
.div-9 {
  color: #8d8888;
  margin-top: 364px;
  font: 700 15px SF Pro Text, sans-serif;
}
.div-10 {
  border-radius: 20px;
  background-color: #454545;
  display: flex;
  margin-top: 22px;
  gap: 20px;
  font-size: 11px;
  color: #fff;
  font-weight: 400;
  justify-content: space-between;
  padding: 7px 54px 7px 19px;
}
.div-11 {
  font-family: SF Pro Text, sans-serif;
  margin: auto 0;
}
.img {
  aspect-ratio: 1.04;
  object-fit: auto;
  object-position: center;
  width: 23px;
}
