* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

body {
  background-image: url("./uploads/bakgrundsbild2.jpg");
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: black;
}

button {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
#checkPassword {
  position: absolute;
  left: 65px;
  top: 557px;
}
#passwordInput {
  position: absolute;
  left: 100px;
  top: 485px;
}
h1,
h3 {
  color: #ffffff;

  margin: 0 auto;
  margin-top: 10px;
}

h1 {
  text-align: center;
  vertical-align: text-top;
  font-size: 28px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  margin-top: 30px;
}
#h2 {
  position: absolute;
  top: 230px;
}
#goHome {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#ai_content_p,
#user_content_p {
  color: white;
  margin: 0 auto;
}

#user_content_p {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
#image {
  height: 650px;
  width: 350px;
}
.captcha {
  position: absolute;
  top: 400px;
  left: 30px;
}
#ai_content_p {
  --b: 2px;
  --c: #9ed644;
  --w: 20px;

  border: var(--b) solid #0000;
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);

  padding: 10px;
  width: 250px;
  text-align: left;
}

#content_img {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 0px 0px 50px white;
  background-image: url("uploads/anemoia.png");
}

#content_div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}
#registerPassword {
  margin-bottom: 50px;
}
#loginPassword {
  margin-bottom: 50px;
}

#loginShortCut {
  border: none;
  background-color: rgba(255, 222, 173, 0);
  text-decoration: underline;
}

#registrationMessage,
#loginMessage {
  color: white;
}

#scan_p {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.clue_button {
  margin-top: 30px;
}

.nextMessage {
  padding: 10px;

  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  height: auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  color: white;

  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;

  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.lines {
  width: 100px;
  border: 1px solid #9ed644;
  position: absolute;
}

#line_1 {
  top: 121px;
  left: 139px;
}
#line_2 {
  top: 680px;
  left: 139px;
}
#line_3 {
  transform: rotate(90deg);

  top: 200px;
  left: 300px;
}
#line_4 {
  transform: rotate(90deg);
  top: 500px;
  left: -45px;
}
#helloMessage {
  position: relative;
  top: -100px;
}

#dialogSelect {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
}

#clueSelect {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
}

#clueImage {
  max-width: 100%;
  height: auto;
}

#code_div {
  position: absolute;
  top: 1400px;
  left: 30px;
}

#code_div > * {
  color: black;
  font-size: 12.5px;
}
select {
  margin-top: 20px;
}

#helpButton {
}

#fake-captcha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Questrial";
  font-size: 4vw;
  line-height: 4.25vw;
  white-space: nowrap;
  cursor: pointer;
  color: #444;
}

#fake-captcha:hover {
  color: #666;
}

#fake-checkbox {
  position: relative;
  float: left;
  margin-right: 1vw;
  width: 4vw;
  height: 4vw;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
  box-sizing: border-box;
}

#fake-checkbox:hover {
  border-color: #aaa;
  background: #eee;
}

#fake-captcha.loading {
  cursor: default;
  color: #444;
}

.loading #fake-checkbox {
  border-radius: 50%;
  background: transparent;
  border-color: #888;
  border-width: 12px;
  border-style: inset;
  animation: spin 1s infinite linear;
}

.pass #fake-checkbox {
  background: #c1d9a3;
  border-color: #669f56;
}

.pass #fake-checkbox:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "\2713";
  font-size: 6vw;
  color: #275f18;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fail {
  animation: fail 0.1s 4;
}

@keyframes fail {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-51%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-49%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
