* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background: linear-gradient(135deg, #1a1a1a, #333);
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

button {
  background-color: #196591;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #333;
  color: #196591;
}

h1,
h3 {
  color: #196591;
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  margin-top: 50px;
}
#goHome {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#ai_content_p,
#user_content_p {
  color: white;
  max-width: 80%; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the element horizontally */
}

#content_img {
  height: 100px;
  width: 100px;
  padding-top: 100px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 50%;
}

#loginShortCut {
  border: none;
  background-color: rgba(255, 222, 173, 0);
  text-decoration: underline;
}

#registrationMessage,
#loginMessage {
  color: white;
}

#scan_p {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.clue_button {
  margin-top: 30px;
}
